body {
    background-color: darkred;
}

.container {
    position: relative;
    margin: 10% auto;
    width: 40%;
}

kbd {
    box-sizing: border-box;
    border: 1px black solid;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.white {
    background-color: #ffffff;
    height: 250px;
    width: 80px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
    font-size: 2em;
}

.black {
    background-color: black;
    height: 150px;
    width: 50px;
    color: #ffffff;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-key {
     left: 60px;
}

.e-key {
    left: 145px;
}

.t-key {
    left: 315px;
}

.y-key {
    left: 405px;
}

.u-key {
    left: 490px;
}

kbd:hover {
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #2d2c2c, 0 6px 6px rgba(0, 0, 0, 0.6);
    transition: ease .30s all;
}

kbd:active {
    box-shadow: 0 1px 0 #666666, 0 2px 0 #444444, 0 2px 2px rgba(33, 32, 32, 0.5);
}
